In [1]:
import os

import pandas as pd
from sqlalchemy import create_engine

In [2]:
creds = """
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=Vanderboegh7!
"""

with open('./.env', 'w') as f:
    f.write(creds)

In [3]:
from dotenv import load_dotenv
load_dotenv()

True

In [4]:
postgres_connection_string = "postgres://{username}:{password}@{host}:{port}/{database}".format(
    username="postgres",
    password="Vanderboegh7!",
    host="localhost",
    port="5432",
    database="Lahman_Baseball"
)

In [5]:
engine = create_engine(postgres_connection_string)

In [12]:
appearances_sql = "SELECT * FROM appearances;"
people_sql = "SELECT * FROM people;"
teams_sql = "SELECT * FROM teams"

In [13]:
appearances_df = pd.read_sql(appearances_sql,con=engine)
people_df = pd.read_sql(people_sql,con=engine)
teams_df = pd.read_sql(teams_sql,con=engine)

In [14]:
merged = pd.merge(left = appearances_df, right = people_df, left_on="playerid", right_on="playerid")

In [23]:
height = merged.sort_values(by='height')
height = height.dropna(subset = ['height'])
height.head()
height_short = height[:1]
height_short.head()

,yearid,teamid,lgid,playerid,g_all,gs,g_batting,g_defense,g_p,g_c,g_1b,g_2b,g_3b,g_ss,g_lf,g_cf,g_rf,g_of,g_dh,g_ph,g_pr,birthyear,birthmonth,birthday,birthcountry,birthstate,birthcity,deathyear,deathmonth,deathday,deathcountry,deathstate,deathcity,namefirst,namelast,namegiven,weight,height,bats,throws,debut,finalgame,retroid,bbrefid
38170,1951,SLA,AL,gaedeed01,1,0.0,1,0,0,0,0,0,0,0,0,0,0,0,0.0,1.0,0.0,1925.0,6.0,8.0,USA,IL,Chicago,1961.0,6.0,18.0,USA,IL,Chicago,Eddie,Gaedel,Edward Carl,65.0,43.0,R,L,1951-08-19,1951-08-19,gaede101,gaedeed01

In [25]:
height_shortest = pd.merge(left = height_short, right = teams_df, left_on = "teamid", right_on = "teamid")
height_shortest = height_shortest[:1]
height_shortest.head()

,yearid_x,teamid,lgid_x,playerid,g_all,gs,g_batting,g_defense,g_p,g_c,g_1b,g_2b,g_3b,g_ss,g_lf,g_cf,g_rf,g_of,g_dh,g_ph,g_pr,birthyear,birthmonth,birthday,birthcountry,birthstate,birthcity,deathyear,deathmonth,deathday,deathcountry,deathstate,deathcity,namefirst,namelast,namegiven,weight,height,bats,throws,debut,finalgame,retroid,bbrefid,yearid_y,lgid_y,franchid,divid,rank,g,ghome,w,l,divwin,wcwin,lgwin,wswin,r,ab,h,h2b,h3b,hr,bb,so,sb,cs,hbp,sf,ra,er,era,cg,sho,sv,ipouts,ha,hra,bba,soa,e,dp,fp,name,park,attendance,bpf,ppf,teamidbr,teamidlahman45,teamidretro
0,1951,SLA,AL,gaedeed01,1,0.0,1,0,0,0,0,0,0,0,0,0,0,0,0.0,1.0,0.0,1925.0,6.0,8.0,USA,IL,Chicago,1961.0,6.0,18.0,USA,IL,Chicago,Eddie,Gaedel,Edward Carl,65.0,43.0,R,L,1951-08-19,1951-08-19,gaede101,gaedeed01,1902,AL,BAL,None,2,140,73.0,78,58,None,None,N,None,619,4736,1254,208,61,29,373,327.0,137.0,NaN,NaN,NaN,607,462,3.34,120,7,2,3732,1273,36,343,348,274,122.0,0.953,St. Louis Browns,Sportsman's Park III,272283.0,99,99,SLB,SLA,SLA