In [9]:
import os

import pandas as pd
from sqlalchemy import create_engine

In [10]:
creds = """
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=Vanderboegh7!
"""

with open('./.env', 'w') as f:
    f.write(creds)

In [11]:
from dotenv import load_dotenv
load_dotenv()

True

In [12]:
postgres_connection_string = "postgres://{username}:{password}@{host}:{port}/{database}".format(
    username="postgres",
    password="Vanderboegh7!",
    host="localhost",
    port="5432",
    database="Lahman_Baseball"
)

In [13]:
engine = create_engine(postgres_connection_string)

In [14]:
fielding_sql = "SELECT * FROM fielding;"

In [15]:
fielding_sql = pd.read_sql(fielding_sql,con=engine)
fielding_sql.head()

,playerid,yearid,stint,teamid,lgid,pos,g,gs,innouts,po,a,e,dp,pb,wp,sb,cs,zr
0,abercda01,1871,1,TRO,NA,SS,1,NaN,NaN,1,3.0,2.0,0.0,NaN,NaN,NaN,NaN,NaN
1,addybo01,1871,1,RC1,NA,2B,22,NaN,NaN,67,72.0,42.0,5.0,NaN,NaN,NaN,NaN,NaN
2,addybo01,1871,1,RC1,NA,SS,3,NaN,NaN,8,14.0,7.0,0.0,NaN,NaN,NaN,NaN,NaN
3,allisar01,1871,1,CL1,NA,2B,2,NaN,NaN,1,4.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
4,allisar01,1871,1,CL1,NA,OF,29,NaN,NaN,51,3.0,7.0,1.0,NaN,NaN,NaN,NaN,NaN

In [ ]:
fielding_sql = fielding_sql = batting_sql.loc[(batting_sql.yearid > 1919)]
batting_sql.head()