In [16]:
import os

import pandas as pd
from sqlalchemy import create_engine

In [17]:
creds = """
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=Vanderboegh7!
"""

with open('./.env', 'w') as f:
    f.write(creds)

In [22]:
from dotenv import load_dotenv
load_dotenv()

True

In [23]:
username = os.getenv('POSTGRES_USERNAME')
password = os.getenv('POSTGRES_PASSWORD')


postgres_connection_string = "postgres://{username}:{password}@{host}:{port}/{database}".format(
    username=username,
    password=password,
    host="localhost",
    port="5432",
    database="Lahman_Baseball"
)

In [24]:
engine = create_engine(postgres_connection_string)

In [25]:
batting_sql = "SELECT * FROM batting;"

In [26]:
batting_df = pd.read_sql(batting_sql, con=engine)
batting_df.head()

,playerid,yearid,stint,teamid,lgid,g,ab,r,h,h2b,...,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
0,abercda01,1871,1,TRO,NA,1,4,0,0,0,...,0.0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN
1,addybo01,1871,1,RC1,NA,25,118,30,32,6,...,13.0,8.0,1.0,4,0.0,NaN,NaN,NaN,NaN,NaN
2,allisar01,1871,1,CL1,NA,29,137,28,40,4,...,19.0,3.0,1.0,2,5.0,NaN,NaN,NaN,NaN,NaN
3,allisdo01,1871,1,WS3,NA,27,133,28,44,10,...,27.0,1.0,1.0,0,2.0,NaN,NaN,NaN,NaN,NaN
4,ansonca01,1871,1,RC1,NA,25,120,29,39,11,...,16.0,6.0,2.0,2,1.0,NaN,NaN,NaN,NaN,NaN

In [27]:
batting_df.min()

playerid    aardsda01
yearid           1871
stint               1
teamid            ALT
lgid               AA
g                   1
ab                  0
r                   0
h                   0
h2b                 0
h3b                 0
hr                  0
rbi                 0
sb                  0
cs                  0
bb                  0
so                  0
ibb                 0
hbp                 0
sh                  0
sf                  0
gidp                0
dtype: object

In [28]:
batting_df.max()

playerid    zychto01
yearid          2016
stint              5
teamid           WSU
lgid              UA
g                165
ab               716
r                192
h                262
h2b               67
h3b               36
hr                73
rbi              191
sb               138
cs                42
bb               232
so               223
ibb              120
hbp               51
sh                67
sf                19
gidp              36
dtype: object

In [42]:
Range =batting_df.yearid[0:-1]
Range

0         1871
1         1871
2         1871
3         1871
4         1871
          ...
102810    2016
102811    2016
102812    2016
102813    2016
102814    2016
Name: yearid, Length: 102815, dtype: int64