In [2]:
import os

import pandas as pd
from sqlalchemy import create_engine

In [3]:
creds = """
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=Vanderboegh7!
"""

with open('./.env', 'w') as f:
    f.write(creds)

In [4]:
from dotenv import load_dotenv
load_dotenv()

True

In [5]:
postgres_connection_string = "postgres://{username}:{password}@{host}:{port}/{database}".format(
    username="postgres",
    password="Vanderboegh7!",
    host="localhost",
    port="5432",
    database="Lahman_Baseball"
)

In [6]:
engine = create_engine(postgres_connection_string)

In [7]:
appearances_sql = "SELECT * FROM appearances;"
people_sql = "SELECT * FROM people;"
teams_sql = "SELECT * FROM teams"

In [8]:
appearances_df = pd.read_sql(appearances_sql,con=engine)
people_df = pd.read_sql(people_sql,con=engine)
teams_df = pd.read_sql(teams_sql,con=engine)

In [9]:
merged = pd.merge(left = appearances_df, right = people_df, left_on="playerid", right_on="playerid")

In [16]:
height = merged.sort_values(by='height')
height = height.dropna(subset = ['height'])
height.head()
height_short = height[:0]
height_short.head()

Empty DataFrame
Columns: [yearid, teamid, lgid, playerid, g_all, gs, g_batting, g_defense, g_p, g_c, g_1b, g_2b, g_3b, g_ss, g_lf, g_cf, g_rf, g_of, g_dh, g_ph, g_pr, birthyear, birthmonth, birthday, birthcountry, birthstate, birthcity, deathyear, deathmonth, deathday, deathcountry, deathstate, deathcity, namefirst, namelast, namegiven, weight, height, bats, throws, debut, finalgame, retroid, bbrefid]
Index: []

[0 rows x 44 columns]

In [11]:
height_shortest = pd.merge(left = height_short, right = teams_df, left_on = "teamid", right_on = "teamid")
height_shortest = height_shortest[:0]
height_shortest.head()

Empty DataFrame
Columns: [yearid_x, lgid_x, playerid, g_all, gs, g_batting, g_defense, g_p, g_c, g_1b, g_2b, g_3b, g_ss, g_lf, g_cf, g_rf, g_of, g_dh, g_ph, g_pr, birthyear, birthmonth, birthday, birthcountry, birthstate, birthcity, deathyear, deathmonth, deathday, deathcountry, deathstate, deathcity, namefirst, namelast, namegiven, weight, height, bats, throws, debut, finalgame, retroid, bbrefid, yearid_y, lgid_y, teamid, franchid, divid, rank, g, ghome, w, l, divwin, wcwin, lgwin, wswin, r, ab, h, h2b, h3b, hr, bb, so, sb, cs, hbp, sf, ra, er, era, cg, sho, sv, ipouts, ha, hra, bba, soa, e, dp, fp, name, park, attendance, bpf, ppf, teamidbr, teamidlahman45, teamidretro]
Index: []

[0 rows x 91 columns]